.circle{
  width: -100px;
}  

.container-fluid{
    background-color: #fff;
    height: 100px;
}
.btn btn-primary{
  width: 300px;
  height: 100px;
  margin: 15%;
}



.Ellipse-11 {
    width: 700px;
    height: 150px;
    border-radius:250px;
    margin-left: 22%;
    padding: 0;
    background-color: #bcde95;
  }
  .GALLERY {
    width: 219px;
    height: 95px;
    font-family: 'Raleway';
    font-size: 100px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
  }

  
  .Videos {
    width: 219px;
    height: 95px;
    margin: 69px 39px 49px 32.5px;
    font-family: "Raleway";
    font-size: 38px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
  }

  .Rectangle_vid{
    width: 700px;
    height: 90px;
    border-radius:250px;
    margin-left:-200px;
    padding: 0;
    background-color: #bcde95;

  }

  .Gallery-page {
    width: 1280px;
    height: 4156px;
    flex-grow: 0;
    background-color: #fff;
  }
  .Watch-more-on-our-Youtube-channel {
    width: 500px;
    height: 68px;
    margin: 146px 57px 11px 13.5px;
    margin-top:-100px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
  }
  .Click-below-and-stay-updated-with-our-journey {
    width: 700px;
    height: 102px;
    margin: 11px 57px 17px 13.5px;
    margin-top:-30px;
    margin-left:770px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: justify;
    color: #000;
  }
  .download-1 {
    width: 124px;
    height: 124px;
    margin: 17px 118px 421px 48.5px;
  }
  
  .yt_pic {
    width:15%; 
    margin-left:800px; 
    margin-top:-80px; 
    border-radius: 800px;
    transition: transform .2s;
  }
 .yt_pic:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);   
 }
  /*FOOTER*/
  .Rectangle-13 {
    width: 1280px;
    height: 159px;
    margin: 47px 0 0;
    padding: 21px 45px 0 49px;
    background-color: #bcde95;
  }
  .Rectangle {
    width: 1186px;
    height: 1px;
    margin: 0 0 36px;
    background-color: #fff;
  }
  .image-1 {
    width: 65px;
    height: 64px;
    margin: 36px 78px 37px 66px;
    border-radius: 200px;
  }
  .ABOUT-US {
    width: 97px;
    height: 25px;
    margin: 55px 97px 15px 114px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .VOLUNTEERS {
    width: 127px;
    height: 25px;
    margin: 55px 97px 15px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .GALLERY {
    width: 88px;
    height: 25px;
    margin: 55px 97px 15px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .DONATE {
    width: 82px;
    height: 25px;
    margin: 55px 97px 15px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .CONTACT-US {
    width: 122px;
    height: 25px;
    margin: 55px 37px 15px 11px;
    font-family: Outfit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }.-\32 020-We-Save-Animals-WSA-Welfare-Trust-All-Rights-Reserved {
    width: 807px;
    height: 42px;
    margin: 15px 11px 0 78px;
    font-family: Kanit;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.09;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
